/* CSS declarations go here */
header {
}

#login {

}

#login > img {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  float: left;
  margin-right: 10px;
}
img#signIn {
  box-shadow: none;
} 

#twitterName {
  font-weight: bold;
  margin-bottom: 0;
}

#twitterId {
  margin-top: 0;
}

content {
  clear: both;
}

h1 {
    color: #408AD2;
}

h2 {
    color: #FFB140;
}

th, td {
    padding: 5px;
    text-align: left;
}
